#flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0px !important;
    left: 0px;

    /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
    height: 100%;
    width: 100%;
    overflow: auto;
}
#flex-container>div {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    position: relative;
}
#flex-container>div#acediff-gutter {
    flex: 0 0 60px;
    -webkit-flex: 0 0 60px;
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
    background-color: #222222;

    /* prevents the bounce on FF, mac osx */
    overflow: auto;
    height: 100%;
    width: 100%;
}
#acediff-gutter svg {
    background-color: #222222;
}

#acediff-left-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#acediff-right-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.acediff-diff {
    background-color: #004d7a;
    border-top: 1px solid #036daa;
    border-bottom: 1px solid #036daa;
    position: absolute;
    z-index: 4;
}
.acediff-diff.targetOnly {
    height: 0px !important;
    border-top: 1px solid #036daa;
    border-bottom: 0px;
    position: absolute;
}
.acediff-connector {
    fill: #004d7a;
    stroke: #003554;
}

.acediff-copy-left {
    float: right;
}
.acediff-copy-right,
.acediff-copy-left {
    position: relative;
}
.acediff-copy-right div {
    color: #ffffff;
    position: absolute;
    margin: -3px 2px;
    cursor: pointer;
}
.acediff-copy-right div:hover {
    color: #004ea0;
}
.acediff-copy-left div {
    color: #ffffff;
    position: absolute;
    right: 0px;
    margin: -3px 2px;
    cursor: pointer;
}
.acediff-copy-left div:hover {
    color: #c98100;
}
