body {
    margin: 0px;
    padding: 0px;
}
#flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0;
}
#flex-container>div {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    position: relative;
}
#flex-container>div#diffGutter {
    flex: 0 0 60px;
    -webkit-flex: 0 0 60px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #fafafa;
    overflow: hidden;
}

#editor1 {
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
}
#editor2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
}


.acediff-new-code {
    border-top: 1px solid #0044ff;
    border-bottom: 1px solid #0044ff;
    position: absolute;
    z-index: 4;
    background-color: #e2f0ff;
}
.acediff-new-code.lineOnly {
    height: 0px !important;
    border-top: 1px solid #0044ff;
    border-bottom: 0px;
    position: absolute;
}
.acediff-new-code-connector {
    fill: #e2f0ff;
    stroke: #0044ff;
}

.ace-diff-deleted-code {
    position: absolute;
    z-index: 4;
    background-color: #ffffcc;
    border-top: 1px solid #ffaa11;
    border-bottom: 1px solid #ffaa11;
}
.ace-diff-deleted-code.lineOnly {
    height: 0px !important;
    border-top: 1px solid #ffaa11;
    border-bottom: 0px;
    position: absolute;
}
.ace-diff-deleted-code-connector {
    fill: #ffffcc;
    stroke: #ffaa11;
}
