.navbar-brand {
    width: 160px;
}

#flex-container {
    top: 63px;
}
.content-container {
    margin-top: 100px
}

#flex-container>div.left-panel {
    flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    border-right: 1px solid #333333;
    padding: 0px 15px;
}
