.acediff {
  &__wrap {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0px;
    left: 0px;

    /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  &__gutter {
    flex: 0 0 60px;
    order: 2;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #efefef;
    overflow: hidden;

    svg {
      background-color: #efefef;
    }
  }
  &__left, &__right {
    height: 100%;
    flex: 1;
  }
  &__left {
    order: 1;
  }
  &__right {
    order: 3;
  }

  &__diffLine {
    background-color: #d8f2ff;
    border-top: 1px solid #a2d7f2;
    border-bottom: 1px solid #a2d7f2;
    position: absolute;
    z-index: 4;
    &.targetOnly {
      height: 0px !important;
      border-top: 1px solid #a2d7f2;
      border-bottom: 0px;
      position: absolute;
    }
  }

  &__connector {
    fill: #d8f2ff;
    stroke: #a2d7f2;
  }

  &__copy--right,
  &__copy--left {
    position: relative;

    div {
      color: #000000;
      text-shadow: 1px 1px #ffffff;
      position: absolute;
      margin: 2px 3px;
      cursor: pointer;
    }
  }
  &__copy--right div:hover {
    color: #004ea0;
  }

  &__copy--left {
    float: right;

    div {
      right: 0px;

      &:hover {
        color: #c98100;
      }
    }
  }
}

