$connectorBackground: #553333;
$connectorBackgroundRight: #335533;
$connectorBorder: #003554;
$gutterBackground: #272727;
$copyArrowsColor: #fff;
$mergeRightColor: #f7b742;
$mergeLeftColor: #61a2e7;
$charDiffBackground: #aa2222;
$charDiffBackgroundRight: #22aa22;

@import './ace-diff-base.scss';
